html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Outfit", "Arial", sans-serif;
  font-size: 18px;
  background-image: url(../img/main_pic_girl.png);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 50%;
}
a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 15px; */
  /* outline: 1px solid red; */
}

header .container {
  display: flex;
  align-items: center;
  margin-top: 72px;
}

.dl_app_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 112px;
  color: #0b0736;
  font-weight: 500;
  border: 1px solid #070426;
  border-radius: 20px;
  padding: 24px 30px;
  line-height: 21.5px;
}

.dl_app_btn:hover {
  color: #fff;
  background-color: #1200ff;
}

.dl_app_bt_pic {
  display: block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.header_content_right {
  display: flex;
  margin-left: auto;
  margin-right: 200px;
  /* justify-content: space-around; */
}

.about_content,
.join_content,
.form_content {
  color: #130f49;
  font-weight: 600;
  tab-size: 20px;
  line-height: 25px;
  border-bottom: 2px solid transparent;
}

.about_content:hover,
.join_content:hover,
.form_content:hover {
  color: #1200ff;
  border-bottom: 2px solid #1200ff;
  /* margin-top: 2px; */
}

.about_content {
  margin-right: 57px;
}

.join_content {
  margin-right: 52px;
}

/*.form_content::after {
  background-image: url(img/main_pic_girl.png);
  position: absolute;
  right: 500px;
} */

.hero {
  display: flex;
  flex-direction: column;
}
.big_main_text {
  font-weight: 400;
  font-size: 90px;
  line-height: 96px;
  color: #130f49;
  margin-top: 100px;
  margin-bottom: 0;
}

.small_container {
  display: flex;
  align-items: center;
  /* outline: 3px solid #ffd32c; */
}

.small_main_text {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #130f49;
  margin-top: 30px;
}

.yellow_underline {
  border-bottom: 2.5px solid #ffd32c;
}

.banana_img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.startnow_btn {
  background-color: #130f49;
  color: white;
  border-radius: 20px;
  padding: 30px 50px;
  margin-right: auto;
}

.startnow_btn:hover {
  background-color: #1200ff;
}

.targets {
  /* outline: 1px solid #ffd32c; */
  margin-top: 160px;
  display: flex;
  align-items: center;
}

.targets_img {
  width: 500px;
  height: 500px;
}

.targets_list {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  justify-content: space-between;
}

.big_text {
  font-weight: 400;
  font-size: 68px;
  line-height: 62px;
  color: #130f49;
  margin: 0;
}

h3 + p.small_main_text {
  color: #9b9aa7;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.appstore_btn {
  background-color: #cce8fd;
  color: #130f49;
  border-radius: 20px;
  padding: 20px 35px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appstore_btn:hover {
  background-color: #1200ff;
  color: #fff;
}

.app_store_btn-list {
  display: flex;
  flex-direction: column;
}

.apple_logo {
  width: 22px;
  height: 26px;
  margin-right: 16px;
}

.appstore_beforetext {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
}

.appstore_text {
  font-weight: 400;
  font-size: 18px;
  opacity: 1;
}

.big_container {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 210px;
  background-size: 784px 889px;
  padding-bottom: 210px;
}

.container_cards {
  display: flex;
  justify-content: space-between;
}

.cards {
  outline-color: #1200ff;
  margin-top: 81px;
  display: flex;
  width: 315px;
  justify-content: space-between;
}

.card {
  width: 147px;
  height: 204px;
}

.card:nth-child(2) {
  margin-top: 18px;
}

.column1 {
  width: 147px;
}

.column2 {
  width: 147px;
  margin-top: 42px;
}

.small_main_text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #9b9aa7;
  margin: 0;
}

.text_color {
  color: #130f49;
}

.advantage1 {
  margin-top: 66px;
  display: flex;
  align-items: center;
}

.percentage_icon {
  width: 60px;
  height: 60px;
}

.advantage_main_text {
  margin: 0;
  margin-left: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #130f49;
}

.advantage_small_text {
  width: 305px;
  height: 84px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #9b9aa7;
  margin-left: 90px;
}

.advantage2 {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.barcode_icon {
  width: 60px;
  height: 60px;
}

.container_slider {
  margin-top: 206px;
  display: flex;
}

.slider {
  margin: 0 auto;
  /* border: 2px solid black; */
  width: 954px;
  height: 64px;
  overflow: hidden;
  order: 2;
}

.slider_line {
  width: 2302px;
  height: 64px;
  display: flex;
  justify-content: space-around;
  /* background: orange; */
  position: relative;
  left: -665px;
  transition: all ease 1s;
}

.slider_item_color:hover {
  color: #1200ff;
  fill: #1200ff;
  stroke: #1200ff;
}

.slider-prev {
  order: 1;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  height: 28px;
  width: 16px;
  margin-top: 20px;
}

.slider-next {
  order: 3;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  height: 28px;
  width: 16px;
  margin-top: 20px;
}

.slider_prev_color:hover,
.slider_next_color:hover {
  stroke: #1200ff;
  cursor: pointer;
}

.bigger_container {
  max-width: 1356px;
  margin: 0 auto;
  margin-top: 210px;
  border-radius: 50px;
  background-color: #d9f4ff;
  display: flex;
  justify-content: space-around;
}

.left_column {
  margin: 0;
  margin-top: 188px;
  margin-left: 159px;
  display: flex;
  flex-direction: column;
}

.second_btn {
  margin-top: 50px;
  padding: 23px 36px;
  background-color: #130f49;
  color: #d9f4ff;
}

.joinfree_img {
  width: 548px;
  height: 628px;
}

.container_before_form {
  margin-top: 210px;
}

.big_bold_text-form {
  font-weight: 600;
}

.big_container_second {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
}

.container_form {
  margin-top: 84px;
  display: flex;
  justify-content: space-between;
}

.column_enter {
  display: flex;
  flex-direction: column;
}

.form_text {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #9b9aa7;
  opacity: 0.9;
  margin-bottom: 8px;
}

.form_input_style {
  background: #ffffff;
  border: 2px solid #9994d7;
  border-radius: 20px;
  min-height: 80px;
  min-width: 632px;
  margin-bottom: 38px;
}

.column_enter:nth-child(6) {
  min-height: 187px;
}
